<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<section>

<div class "categories">
    <img src="" alt="">
    <h3>Category1</h3>
    <p>Habits hajdkdldflfmfjnvkjdfnvkdfnvkjsfnfkjvnkjfsn</p>
    <button>See tips</button>
</div>

<div class "categories">
    <img src="" alt="">
    <h3> Category2</h3>
    <p>skfdklfmkdfmvkdfmnvkjnfkjvndkfnvdf</p>
    <button>See tips</button>
</div>

<div class "categories">
    <img src="" alt="">
    <h3>Category3</h3>
    <p>fnjkvnfdjknvfnvfvjnfdvnfjkvnfdjnvjk</p>
    <button>See tips</button>
</div>

</section>