<div class="hero">
  <div class="hero-text">
    <h1 id="h1-black">Welcome Creation Seeker!</h1>
  </div>
</div>

<section class="cat-container">
  <div id="category-one">
    <h3>Rituals</h3>
    <p>Unlock Your Creative Potential with Daily Rituals</p>
     <a href="/tips" class="a-button">
      See tips
    </a>
  </div>

  <div id="category-two">

    <h3>Games</h3>
    <p>Boost Your Creativity with Playful Games</p>
     <a href="/tips" class="a-button">
      See tips
    </a>
  </div>

  <div id="category-three">
    <h3>Community Building</h3>
    <p>Finding Inspiration Together. Find out more about how your community can help you unlock your creativity</p>
    <a href="/tips" class="a-button">
      See tips
    </a>
  </div>
</section>