<div class="hero">
  <div class="hero-text">
    <h1 id="h1-black">Welcome Creation Seeker!</h1>
  </div>
</div>

<section class="cat-container">
  <div id="category-one">
    <h3>Rituals</h3>
    <p>Habits hajdkdldflfmfjnvkjdfnvkdfnvkjsfnfkjvnkjfsn</p>
    <a href="/tips">
      <button>See tips</button>
    </a>
  </div>

  <div id="category-two">

    <h3>Games</h3>
    <p>skfdklfmkdfmvkdfmnvkjnfkjvndkfnvdf</p>
    <a href="/tips">
      <button>See tips</button>
    </a>
  </div>

  <div id="category-three">
    <h3>Something</h3>
    <p>fnjkvnfdjknvfnvfvjnfdvnfjkvnfdjnvjk</p>
    <a href="/tips">
      <button>See tips</button>
    </a>
  </div>
</section>