body {
  padding: 50px;
  font: 14px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: beige;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.categories {
  border-color: black;
  border-width: 2px;
  background-color: aquamarine;
} 




